.mast-head {
  background: #220037 url(assets/images/head-bg.png) top center;
  padding-bottom: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 280px;
  .col-md-5 {
    color: white;
    h1 {
      font-size: 33px;
      color: white;
      text-decoration: underline;
      margin-bottom: 26px;
    }
    p {
      color: white;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    img {
      margin-left: 17px;
    }
    .btn-primary {
      color: #fff;
      background-color: rgba(255,255,255,.4);
      border-color: rgba(255,255,255,.4);
    }
  }
}
.features-images {
      padding-top: 30px;
      background-color: #220037;
      h1 {
      font-size: 33px;
      color: white;
      text-decoration: underline;
      margin-bottom: 20px;
      }
      img {
        width: 100%;
        z-index: 2;
        position: relative;
      }
      .vouching-image {
        margin-bottom: 60px;
      }
      .collaborate-image {
        margin-bottom: 33px;
      }
      .investigate-image {
        margin-bottom: 48px;
      }
      p {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-bottom: 58px;
      } 
}
.features-section {
  position: relative;
  padding-bottom: 182px;
  background: #2c0b49;
  background-repeat: no-repeat;
  background-size: 100%;
  .curve-image {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -390px;
  }
  .btn-primary {
    background-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 15px;
    padding-bottom: 8px;
    border-radius: 8px;
    border-color: white;
  }
  .container {
    .row {
      h1 {
      font-size: 33px;
      color: white;
      text-decoration: underline;
      margin-bottom: 20px;
      }
      h2 {
        color: white;
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 27px;
      }
      p {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-bottom: 58px;
      }
      .col-md-4 {
        position: relative;
        z-index: 2;
        p {
        margin-bottom: 26px;          
        }
      }
    }
  }
}

.eco-system {
  background: #2c0b49 url("assets/images/hive.png") left center no-repeat;
  background-size: 760px;
  padding-top: 72px;
  padding-bottom: 20px;
  h1 {
    font-size: 33px;
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
    }
  h2 {
    color: white;
    font-size: 25px;
  }
  p {
    color: white;
  }
  .col-md-5 {
    padding-top: 260px;
    padding-bottom: 279px;
  }
}