.site-footer {
    color: white;
    background-color: black;
    .pre-footer {
        padding-top: 100px;
        img {
            width: 100%;
        }
    }
    .post-footer {
        padding-top: 78px;
        padding-bottom: 91px;
        .footer-logo {
            width: 68px;
            height: 86px;
        }
    }
}