h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}
p, ul, li, a {
  font-family: 'Roboto', sans-serif !important;
}

$indie-gray:    #97a8b7 !default;
$indie-cyan:    #1af8d1 !default;

#svg-sprite {
  display: none;
}
.light-color {
  color: white;
}